.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #007bff, #00c094);
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}



.forgot-password-page .form-group {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.forgot-password-page .form-group label {
  flex: 1 1 0;
  margin-bottom: 5px;
  font-weight: bold;
}

.forgot-password-page .form-group input,
.forgot-password-page .form-group select {
  flex: 2 1 0;
  width: 100%; /* Ensure input and select take full width of their flexbox space */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.forgot-password-page .form-group.full-width {
  flex: 1 1 100%;
}


/* Form Heading */
h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: #f2f2f2;
}

/* Back Button */
.back-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6c757d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.back-btn:hover {
  background-color: #5a6268;
}

/* Error Message */
.error-message {
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 10px;
}

.password-button {
  display: flex;
  padding: 20px;
  gap: 20px; 
}
